{
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "trailingComma": "all"
}
